ANIC_APP_HOST = '0.0.0.0'
SANIC_APP_PORT = 8000
SANIC_CASSANDRA_DATABASE = '{"NAME": "translation-tool", "PASSWORD": "cassandra", "USER": "cassandra", "KEYSPACE": {"NAME": "translation_tool"}, "HOST": "localhost"}'
SANIC_MONGODB_DATABASE = '{"DATABASE_NAME": "translation-tool", "PASSWORD": "root", "USER": "root", "HOST": "localhost", "PORT": 27017, "REPLICASET": "rs0", "CONN_OPTS": {"MIN_POOL_SIZE": 10, "MAX_POOL_SIZE": 50}}'
SANIC_KAFKA_PRODUCER = '{"BOOTSTRAP_SERVERS": ["localhost:9092"], "TOPICS": ["translation-tool"]}'
SANIC_KAFKA_CONSUMER = '{"BOOTSTRAP_SERVERS": ["localhost:9092"], "TOPICS": ["translation-tool"], "GROUP": "translation-tool"}'

CQLENG_ALLOW_SCHEMA_MANAGEMENT = 1

SANIC_PRIVATE_TRANSLATION_API = '{"METHOD": "POST", "URL": "http://nmtuet.ddns.net:1710/translate_paragraphs", "ALLOWED_CONCURRENT_REQUEST": 5}'
SANIC_PRIVATE_LANGUAGE_DETECTION_API = '{"METHOD": "POST", "URL": "http://nmtuet.ddns.net:1710/detect_lang", "ALLOWED_CONCURRENT_REQUEST": 5}'

SANIC_PUBLIC_TRANSLATION_API = '{"METHOD": "POST", "URL": "http://nmtuet.ddns.net:1710/translate_paragraphs", "ALLOWED_CONCURRENT_REQUEST": 5}'
SANIC_PUBLIC_LANGUAGE_DETECTION_API = '{"METHOD": "POST", "URL": "http://nmtuet.ddns.net:1710/detect_lang", "ALLOWED_CONCURRENT_REQUEST": 5}'

SANIC_OAUTH2_PROVIDER = '{"GOOGLE": {"NAME": "GOOGLE", "METHOD": "GET", "URL": "https://www.googleapis.com/oauth2/v1/userinfo"}}'
SANIC_ACCESS_TOKEN_TTL = 86400
SANIC_REFRESH_TOKEN_TTL = 2592000