addict==2.4.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
aiokafka==0.7.2
aiosignal==1.2.0
aiotask-context==0.6.1
APScheduler==3.7.0
asgiref==3.4.1
asttokens==2.0.5
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
backports.zoneinfo==0.2.1
cassandra-driver==3.25.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.1
devtools==0.7.0
et-xmlfile==1.1.0
executing==0.8.1
frozenlist==1.3.0
geomet==0.2.1.post1
h11==0.12.0
httptools==0.3.0
idna==3.2
imbox==0.9.8
joblib==1.1.0
kafka-python==2.0.2
lxml==4.8.0
marshmallow==3.13.0
motor==2.5.1
multidict==5.1.0
nltk==3.7
numpy==1.21.2
openpyxl==3.0.9
Pillow==9.0.1
pydantic==1.8.2
pymongo==3.12.0
python-docx==0.8.11
python-dotenv==0.19.0
python-pptx==0.6.21
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
regex==2022.3.2
requests==2.27.1
sanic==21.6.2
Sanic-Cors==1.0.0
sanic-openapi==21.6.1
sanic-plugin-toolkit==1.1.0.post1
sanic-routing==0.7.1
schedule==1.1.0
six==1.16.0
tqdm==4.63.0
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==2.1
ujson==4.1.0
umongo==3.0.0
urllib3==1.26.8
uvicorn==0.15.0
uvloop==0.16.0
websockets==10.0
XlsxWriter==3.0.3
yarl==1.6.3
